<div class="ml-5 mt-5">
    <h1>Edit Mod:</h1>
    <%= bootstrap_form_with(model: @mod, local: true, url: edit_user_mod_path) do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
    <% end %>
</div>