<h1>Mod Categories for <%= selected_game_name %></h1>
<% @categories.each do |category| %>
    <div class="row">
        <div class="col-2" align="right"><a class="btn btn-secondary text-light" href=<%= game_category_mods_path(selected_game, category) %>><%= category.name %></a></div>
        <div class="col-2">Mod Count: <%= category.mod_count(selected_game) %></div>
    </div><br>
<% end %>